@model IEnumerable<DtoModels.RequestModels.Test.TestRequestedModel>
@using System.Security.Claims;

@{
    ViewData["Title"] = "View";
}

<h1>Tests</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                @if (User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "Teacher")
                {
                    <th>
                        @Html.DisplayNameFor(model => model.TestId)
                    </th>
                }
                <th>Test</th>
                <th>
                    @Html.DisplayNameFor(model => model.Creator)
                </th>
                @if (User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "Teacher")
                {
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                }
                @if (User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value != "Admin")
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @if (User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "Teacher")
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.TestId)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.TestName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Creator)
                    </td>
                    @if (User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "Teacher")
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.TestId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.TestId }) |
                            @if (item.IsActive)
                            {
                                @Html.ActionLink("Deactivate", "Deactivate", new { id = item.TestId })
                            }
                            else
                            {
                                @Html.ActionLink("Activate", "Activate", new { id = item.TestId })

                            }
                        </td>
                    }

                    @if (User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "Student")
                    { 
                        <td>
                            @Html.ActionLink("Start test", "Start", new { id = item.TestId})
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="buttons">
            <form asp-controller="Login" asp-action="Login" method="get">
                <div>
                    <input type="submit" value="Log out" class="btn btn-primary" />
                </div>
            </form>
        </div>

        @if (User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "Teacher")
        {
            <div class="buttons">
                <form asp-controller="Test" asp-action="CreateTest" method="get">
                    <div>
                        <input type="submit" value="Create test" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        }

        @if (User.FindFirst(x => x.Type == ClaimsIdentity.DefaultRoleClaimType).Value == "Admin")
        {
            <div class="buttons">
                <form asp-controller="Admin" asp-action="Users" method="get">
                    <div>
                        <input type="submit" value="Admin panel" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        }
    </div>
</div>